<section class="container-fluid">
  <div class="alert alert-success" role="alert" *ngIf="showEducationProgramDeleted">Usunięcie programu kształcenia</div>
  <section [hidden]="thereAreEducationProgramsToDisplay()">
    <p>Brak programów kształcenia.</p>
  </section>
  <section [hidden]="!thereAreEducationProgramsToDisplay()">
    <div><h3 class="panel-title">Programy kształcenia:</h3></div>
    <table class="table table-striped books">
      <thead>
      <tr>
        <th>Cykl kształcenia</th>
        <th>Kierunek</th>
        <th>Poziom</th>
        <th>Tryb</th>
        <th>Wydział</th>
        <th>Specjalność</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let educationProgram of currentEducationPrograms">
        <td>{{educationProgram.period}}</td>
        <td>{{educationProgram.course}}</td>
        <td>{{educationProgram.level.name}}</td>
        <td>{{educationProgram.mode.name}}</td>
        <td>{{educationProgram.faculty.name}}</td>
        <td>{{educationProgram.specialization}}</td>
        <td><button class="btn btn-success pull-right" [routerLink]="['/app/studies-plan/overview', educationProgram.id]">Plan</button> <button class="btn btn-success pull-right" [routerLink]="['/app/education-program/details', educationProgram.id]">Program</button> <button class="btn btn-success pull-right" [routerLink]="['/app/education-program/details', educationProgram.id]">Edytuj</button> <button class="btn btn-success pull-right" (click)="selectAndDeleteEducationProgram(educationProgram)">Usuń</button></td>
      </tr>
      </tbody>
    </table>
  </section>
  <div>
    <button class="btn btn-success pull-right" [routerLink]="['/app/education-program/details', 0]">Dodaj</button>
  </div>
</section>
