<nav class="navbar-fixed-top navbar-inverse navbar-margin navbar-dark">
  <div class="row">
    <div class="col-lg-3">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/app/home">
        <h3 class="nav-text">Krajowe Ramy Kwalifikacji</h3>
      </a>
    </div>
    <div class="col-lg-9">
      <ul>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link nav-text" routerLink="/app/book/overview">Books</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link nav-text" routerLink="/app/change-suggestion/overview">Change suggestion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
