<nav class="navbar-fixed-top navbar-inverse navbar-margin navbar-dark">
  <div class="row">
    <div class="col-lg-3">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/app/home">
        <h3 class="nav-text">Krajowe Ramy Kwalifikacji</h3>
      </a>
    </div>
    <div class="col-lg-9">
      <ul>
        <li class="nav-item" routerLinkActive="active">
          <div class="dropdown">
            <button class="dropbtn">Sugestie zmian
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a class="nav-link nav-text" routerLink="/app/change-suggestion-ep/overview">Planów, programów</a>
              <a class="nav-link nav-text" routerLink="/app/change-suggestion-ef/overview">Efektów</a>
            </div>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <div class="dropdown">
            <button class="dropbtn">Programy kształcenia
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a class="nav-link nav-text" routerLink="/app/education-program-edit/overview">Edycja</a>
              <a class="nav-link nav-text" routerLink="/app/education-program/overview">Przegląd</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>


