.nav-text {
  color: black;
}

.nav-text:hover, .nav-text:focus, .nav-text:active, .nav-text.active {
  color: blue;
}

.navbar-margin {
  margin-bottom: 15px;
}

li {
  display: inline-block;
  float: left;
}

nav {
  background: #d3d3d3;
}
