<section class="container-fluid">
  <section [hidden]="thereAreChangeSuggestionsToDisplay()">
    <p>Brak sugestii zmian.</p>
  </section>
  <section [hidden]="!thereAreChangeSuggestionsToDisplay()">
    <div><h3 class="panel-title">Sugestie zmian:</h3></div>
    <table class="table table-striped books">
      <thead>
      <tr>
        <th>Numer</th>
        <th>Dotyczy</th>
        <th>Propozycja</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let changeSuggestion of currentChangeSuggestions">
        <td>{{changeSuggestion.id}}</td>
        <td>{{changeSuggestion.educationProgram.course}}, {{changeSuggestion.educationProgram.period}}</td>
        <td>{{changeSuggestion.proposition}}</td>
        <td><button class="btn btn-success pull-right" [routerLink]="['/app/change-suggestion-ep/details', changeSuggestion.id]">Szczegóły</button> <button class="btn btn-success pull-right" [routerLink]="['/app/change-suggestion', changeSuggestion.id]">Inicjacja</button></td>
      </tr>
      </tbody>
    </table>
  </section>
</section>
